@charset "UTF-8";
@font-face {
      font-family: "Indie Flower";
      src: url("../fonts/IndieFlower.ttf");
}

body{
	background-color: white;
}

div#interface{
	width: 900px;
	height: auto;
	margin: auto;
	padding: 0px;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
	background-color: AntiqueWhite;
}
/*Cabeçalho------------------------------------------------------------------*/
header#cabecalho{
	width: auto;
	height: 60px;
	margin: auto;
	background-color: wheat;
	border-bottom: 1px solid white;
}

nav#cabecalho-menu ul{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-around;
	max-width: 800px;
	padding: 0px 0px 0px 0px;
	margin: 0 auto;
	list-style: none;
}

nav#cabecalho-menu li{
	font-size: 14px;
	font-weight: bold;
	font-variant: small-caps;
	background-color: tan;
	border: 1px solid white;
	color: white;
	flex: 1 auto;
	padding: 7px 13px 7px 13px;
	margin: 0px 0px 0px 0px;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 1s, color 1s, padding 0.5s, font-weight 1s;
}

nav#cabecalho-menu li:hover{
	background-color: PeachPuff;
	color: DarkGray;
	padding: 7px 16px 7px 16px;
	font-weight: bold;
}

nav#cabecalho-menu a:link, a:visited {
	text-decoration: none;
	color: SeaGreen;
}

nav#cabecalho-menu p{	
	font-family: 'Indie Flower', cursive;
	margin: 0px 40px 0px 0px;
	color: white;
	font-weight: bolder;
	font-size: 30pt;
}

/*Apresentação------------------------------------------------------------------*/
section#apresentacao{
	display: block;
	width: 100%;
	min-height: 100px;
	border-bottom: 1px solid white;
	background-color: AntiqueWhite;
}

table#apresentacao-tabela{
	width: 100%;
	height: 100%;
}

table#apresentacao-tabela td.esquerdo{
	width: 45%;
}

table#apresentacao-tabela td.esquerdo p.p01{
	text-align: center;
	font-size: 15pt;
	color: SlateGrey;
	padding: 0px 5px 0px 5px;
	margin: 5px 0px 5px 0px;
}

table#apresentacao-tabela td.esquerdo p.p02{
	text-align: justify;
	text-indent: 20px;
	color: SlateGrey;
	padding: 0px 5px 0px 5px;
}

table#apresentacao-tabela td.centro{
	width: 15%;
	text-align: center;
}

table#apresentacao-tabela td.direito{
	width: auto;
	height: 100%;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-around;
}

table#apresentacao-tabela td.direito img{
	width: 120px;
	height: 120px;
}

/*Informação------------------------------------------------------------------*/
section#informacao{
	display: block;
	width: 100%;
	height: 250px;
	border-bottom: 1px solid white;
}

article#esquerdo{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	float: left;
	width: 25%;
	height: 250px;
	background-color: wheat;
	margin-right: 10px;
	border: 1px solid white;
} 

article#esquerdo p{
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
	text-transform: uppercase;
	font-size: 25px;
	padding-right: 10px;
	padding-left: 10px;
}

article#centro{
	display: block;
	float: left;
	width: 42%;
	height: 100%;
	margin-right: 10px;
	border: 1px solid white;
	font-size: 14px;
}

article#centro p{
	color: SlateGrey;
	text-align: justify;
	padding-right: 10px;
	padding-left: 10px;
}

article#centro p.titulo{
	color: SlateGrey;
	font-size: 18px;
	text-align: center;
}

article#direito{
	display: block;
	float: left;
	width: 30%;
	height: 100%;
	border: 1px solid white;
}

/*info lista de produto------------------------------------------------------------------*/
section#infoListaProduto{
	color:SlateGrey;
	font-size: 10pt;
	width: 100%;
	
	border-bottom: 1px solid white;
}

section#infoListaProduto div{
	margin: 0px 10px 0px 10px;
}

section#infoListaProduto div h3{
	text-align: center;
}

section#infoListaProduto div p{
	text-align: center;
}


/*lista produto------------------------------------------------------------------*/
section#listaProduto{
	text-align: center;
	width: 100%;
	min-height: 150px;
	border-bottom: 1px solid white;
}

section#listaProduto div.produto{
	display: block;
	float: left;
}

section#listaProduto table{
    border: 1px solid black;
    border-collapse: collapse;
}
/*Rodapé------------------------------------------------------------------*/
footer#rodape{
	clear: both;
	background-color: wheat;
}

footer#rodape p{
	margin: 0px;
	padding: 5px 0px 5px 0px;
	text-align: center;
}